%head
    %title #{@title}

    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/espalier.min.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/dotaheroes.css"}
